<br>
<div class="container">
  <h1>Criando o Repositório</h1>
  <p>Para personalizar seu perfil do Github, o primeiro passo a ser realizado, é criar um repositório com o
      mesmo nome do seu próprio nome de usuário. Em seu caso {{username}}.
  </p>
  <ol>
    <li>
      <p>Para criar um clique no ícone de + no canto superior direito</p>

      <img class="img-fluid" src="././assets/repositorio/new-repository.png">
    </li><br>
    <li>
      <p>
        Assim como na imagem a seguir, o nome do repositório deve ser exatamente o mesmo que o seu nome de usuário.
         O repositório também deve ser público e você pode marcar a opção de adicionar um arquivo README. As outras configurações
         como a descrição do projeto, são opcionais.
      </p>
      <img class="img-fluid" src="././assets/repositorio/config-repository.png">
    </li><br>
    <li>
      Com o repositório criado você já pode começar a escrever um pouco sobre você, e as informações irão aparecer em seu perfil.
    </li>
  </ol>

</div>
<div style="margin: 3rem;"></div>