<mat-toolbar>
  <a type="button">
    <span (click)="router.navigate(['/home'])" class="title">GitHub Profile Maker</span>
  </a>
  <span class="spacer"></span>
  <a target="_blank" href="https://www.github.com/josevictormoreno"><em class="bi bi-github"></em></a>
  <a target="_blank" href="https://instagram.com/josevictormoreno_"><em class="bi bi-instagram"></em></a>
  <a target="_blank" href="https://www.linkedin.com/in/josevictor-adm/"><em class="bi bi-linkedin"></em></a>
</mat-toolbar>
<router-outlet></router-outlet>