.started {
  background-color: #08b43b;
  margin-top: 1.5rem;
  display: inline;
  justify-self: center;
}

.card {
  max-width: 20rem;
  min-width: 20rem;
}

.card-div{
  justify-content: center;
  display: flex;
  margin: 2rem;
}