<div class="container">
  <br>
  <h1>Ícones</h1>

  <div class="row">
    <div class="col card-div">
    <mat-card class="mat-elevation-z8 card">
      <mat-card-title>Instagram</mat-card-title>
      <mat-card-content mat-card-image style="margin: 1rem;">
        <img src="https://img.shields.io/badge/-Instagram-%23E4405F?style=for-the-badge&logo=instagram&logoColor=white">
      </mat-card-content>
      <mat-form-field class="" appearance="outline">
        <mat-label>Nome de usuário do Github</mat-label>
        <input matInput [formControl]="instagram">
      </mat-form-field>
      <button class="started btn btn-light">Copiar</button>
    </mat-card>
  </div>
    <br>
    <div class="col card-div">
    <mat-card class="mat-elevation-z8 card">
      <mat-card-title>Gmail</mat-card-title>
      <mat-card-content mat-card-image style="margin: 1rem;">
        <img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white">
      </mat-card-content>
    </mat-card>
    </div>
    <br>
    <div class="col card-div">
    <mat-card class="mat-elevation-z8 card">
      <mat-card-title>LinkedIn</mat-card-title>
      <mat-card-content mat-card-image style="margin: 1rem;">
        <img src="https://img.shields.io/badge/-Linkedin-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white">
      </mat-card-content>
    </mat-card>
    </div>
    <br>
    <div class="col card-div">
    <mat-card class="mat-elevation-z8 card">
      <mat-card-title>Twitter</mat-card-title>
      <mat-card-content mat-card-image style="margin: 1rem;">
        <img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white">
      </mat-card-content>
    </mat-card>
    </div>
    <br>
  </div>
  <br>
</div>